<!DOCTYPE html>
<html>
<%- include('./partials/_head'); %>

  <body>
    <%- include('./partials/_navbar'); %>
      <div class="main__container__login">
        <h1 class="main__title__login">Log in to your account</h1>
        <form method="post">
          <p>Enter your username/email:</p>
          <div class="mb-3">
            <i class="fa fa-user"></i>
            <input type="email" placeholder="username" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" name="email">
          </div>
          <p>Enter your password:</p>
          <div class="mb-3">
            <i class="fa fa-unlock"></i>
            <input type="password" placeholder="password" class="form-control" id="exampleInputPassword1"
              name="password">
          </div>

          <button type="submit" class="btn btn-primary main__button_login">Login</button>
          <p class="text__login">You don't have an account?&nbsp;<a class="link" href="/auth/register">Register</a></p>
        </form>

      </div>
      <%- include('./partials/_footer'); %>
  </body>

</html>