<!DOCTYPE html>
<html>
<%- include('./partials/_head'); %>

  <body>
    <%- include('./partials/_navbar'); %>
      <div class="main__container__login">
        <h1 class="main__title__login">You have been succesfully logged out!</h1>
        <a href="/"><button class="main__button_login">Go back to Homepage</button></a>

      </div>
      <%- include('./partials/_footer'); %>
  </body>

</html>