.main__container__login {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 10%;
}

.mb-3 {
    display: flex;
    color: #9e9e9e;
}

.mb-3>input {
    width: 100%;
    padding-left: 10px;
}

.fa {
    font-size: 25px;
    margin-right: 10px;
    padding-top: 6px;
}

.main__button_login {
    background-color: #f89b69;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main__button_login:hover {
    background-color: white;
    color: #f89b69;
    border: 1px solid #f89b69;
}

.main__title__login {
    color: #f89b69;
}

.input:focus {
    outline: none !important;
    border: 1px solid #f89b69;
    box-shadow: 0 0 10px #719ECE;
}